.container {
    display: grid;
    grid-template-columns: 16rem 1fr 16rem;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "header header header"
    "nav content sidebar"
    "footer footer footer";
    min-height: 100vh;
}

footer {
    grid-area: footer;
    padding: 2rem;
    background-color: aqua;
}

aside {
    grid-area: sidebar;
    padding: 2rem;
    background-color:lightgreen;
}

header {
    grid-area: header;
    padding: 2rem;
    background-color:blueviolet;
}

main {
    grid-area: content;
    padding: 2rem;
    background-color:antiquewhite;
}

nav {
    grid-area: nav; 
    padding: 2rem;
    background-color:darkcyan;
}

@media(max-width: 1024px){
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: auto minmax(5rem, auto) 
        1fr minmax(5rem, auto) auto;
        grid-template-areas: 
        "header"
        "nav"
        "content"
        "sidebar"
        "footer";
    }
}